extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Bank Information
  form(action='/account/addBank', method='POST')
    input(type='hidden', name='_csrf', value=_csrf, id="CSRFToken")
    .form-group
      label.control-label.requiredField(for='propertyType')
        | Bank Name
        span.asteriskField *
      .col-xs-12
        select#propertyType.select.form-control.input-lg(name='propertyType', onChange="updateNumbers();")
          option(value='6', selected= 6) Bank of America
          option(value='7', selected= 7) BBT
          option(value='8', selected= 8) Chase
          option(value='9', selected= 9) Citi
          option(value='10', selected= 10) Fifth Third Bank
          option(value='11', selected= 11) Key Bank
          option(value='12', selected= 12) PNC
          option(value='13', selected= 13) Regions
          option(value='14', selected= 14) TD Bank
          option(value='15', selected= 15) US Bank
          option(value='16', selected= 16) Quicken Loans
          option(value='17', selected= 17) My Funds
          option(value='0', selected= true) -- Select --
          script.
            var updateNumbers =
            function(){
                var option = $("#propertyType").find("option:selected").val();
                var data = {};
                data.bankName = option;
                data._csrf = $("#CSRFToken").val(),
                $.ajax({
                    type: 'POST',
                    url: '/account/getUserBank',
                    data: data,
                    success: function(response) {
                        if (response.length > 5) {
                            $("#account").val(JSON.parse(response).split(":::")[0]);
                            $("#routing").val(JSON.parse(response).split(":::")[1].split(":|:")[0]);
                            $("#balance").val(JSON.parse(response).split(":|:")[1]);
                        } else {
                            $("#account").val("");
                            $("#routing").val("");
                        }
                        console.log(JSON.parse(response));
                    },
                });
            };
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='balance') Balance
      .col-md-7(style="pointer-events: none")
        input.form-control(type='number', name='balance', id='balance', placeholder='0')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='routingNumber') Routing Number
      .col-md-7
        input.form-control(type='number', name='routing', id='routing', value=user.routing, placeholder='000000000001')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='accountNumber') Account Number
      .col-md-7
        input.form-control(type='number', name='account', id='account', value=user.account, placeholder='000000000001')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Save Bank
