extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Transfer
  form(action='/account/transfer', method='POST')
    input(type='hidden', name='_csrf', value=_csrf, id="CSRFToken")
    .form-group
      label.control-label.requiredField(for='transferFrom')
        | Transfer From
        span.asteriskField *
      .col-xs-12
        select#transferFrom.select.form-control.input-lg(name='transferFrom', onChange="updateFromBalance();")
          option(value='6', selected= 6) Bank of America
          option(value='7', selected= 7) BBT
          option(value='8', selected= 8) Chase
          option(value='9', selected= 9) Citi
          option(value='10', selected= 10) Fifth Third Bank
          option(value='11', selected= 11) Key Bank
          option(value='12', selected= 12) PNC
          option(value='13', selected= 13) Regions
          option(value='14', selected= 14) TD Bank
          option(value='15', selected= 15) US Bank
          option(value='16', selected= 15) Quicken Loans
          option(value='0', selected= true) -- Select --
          script.
            var updateFromBalance =
            function(){
                var option = $("#transferFrom").find("option:selected").val();
                var data = {};
                data.bankName = option;
                data._csrf = $("#CSRFToken").val(),
                $.ajax({
                    type: 'POST',
                    url: '/account/getUserBank',
                    data: data,
                    success: function(response) {
                        if (JSON.parse(response).length > 10) {
                            $("#fromBalance").val(JSON.parse(response).split(":|:")[1]);
                        } else {
                            $("#fromBalance").val("0");
                        }
                    },
                });
            };
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='fromBalance') First Balance
      .col-md-7(style="pointer-events: none")
        input.form-control(type='number', name='fromBalance', id='fromBalance', value=user.account, placeholder='0')
    .form-group
      label.control-label.requiredField(for='transferTo')
        | Transfer To
        span.asteriskField *
      .col-xs-12
        select#transferTo.select.form-control.input-lg(name='transferTo', onChange="updateToBalance();")
          option(value='6', selected= 6) Bank of America
          option(value='7', selected= 7) BBT
          option(value='8', selected= 8) Chase
          option(value='9', selected= 9) Citi
          option(value='10', selected= 10) Fifth Third Bank
          option(value='11', selected= 11) Key Bank
          option(value='12', selected= 12) PNC
          option(value='13', selected= 13) Regions
          option(value='14', selected= 14) TD Bank
          option(value='15', selected= 15) US Bank
          option(value='16', selected= 15) Quicken Loans
          option(value='0', selected= true) -- Select --
          script.
            var updateToBalance =
            function(){
                var option = $("#transferTo").find("option:selected").val();
                var data = {};
                data.bankName = option;
                data._csrf = $("#CSRFToken").val(),
                $.ajax({
                    type: 'POST',
                    url: '/account/getUserBank',
                    data: data,
                    success: function(response) {
                        if (JSON.parse(response).length > 10) {
                            $("#toBalance").val(JSON.parse(response).split(":|:")[1]);
                        } else {
                            $("#toBalance").val("0");
                        }
                    },
                });
            };
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='toBalance') Second Balance
      .col-md-7(style="pointer-events: none")
        input.form-control(type='number', name='toBalance', id='toBalance', value=user.account, placeholder='0')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='amount') Transfer Amount
      .col-md-7
        input.form-control(type='number', name='amount', id='amount', value=user.account, placeholder='0')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Transfer