extends ../bankLayout
block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Transfer
  form(action='/account/depositToUser', method='POST')
    input(type='hidden', name='_csrf', value=_csrf, id="CSRFToken")
    .form-group
      label.control-label.requiredField(for='transferFrom')
        | Transfer From
        span.asteriskField *
      .col-xs-12
        select#transferFrom.select.form-control.input-lg(name='transferFrom', onChange="updateFromBalance();")
          option(value='16', selected= 16) Quicken Loans
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='fromBalance') First Balance
      .col-md-7(style="pointer-events: none")
        input.form-control(type='number', name='fromBalance', id='fromBalance', value=user.account, placeholder='0')
    .form-group
      label.control-label.requiredField(for='transferTo')
        | Transfer To
        span.asteriskField *
      .col-xs-12
        select#transferTo.select.form-control.input-lg(name='transferTo')
          option(value='0', selected= true) -- Select --
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='amount') Transfer Amount
      .col-md-7
        input.form-control(type='number', name='amount', id='amount', value=user.account, placeholder='0')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Transfer
