footer
  .container.text-center
    p.float-left © 2019 Universally Thinking, LLC. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='#') Contact
      li.list-inline-item
        a(href='#') About
