extends layout

block content
  img(src='./images/socialpay.png', style='width: 100%;')
  hr
  .row
    .col-md-6
      h2 Link your banks
      p Link as many banks as you wish, there are no associated costs or risks - just smarter spending.
      //p
        a.btn.btn-raised(href='#', role='button') View legal »
    .form-group
      .offset-md-3.col-md-7.pl-2
        hr
    .form-group
      .offset-md-3.col-md-7.pl-2
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/fifththirdbank.jpg')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/chase.png')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/bbt.jpg')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/bankofamerica.png')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/citi.jpg')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/keybank.png')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/pnc.png')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/regions.png')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/tdbank.png')
        a(href='/addBank', style='margin-top: 100px')          
          img(src='images/banks/usbank.png')