extends layout

block content
  img(src='./images/socialpay.png', style='width: 100%;')
  hr
  .row
    .col-md-6
      h2(style="font-size: 1rem;") Link your banks
      p(style="font-size: 0.8rem;") Link as many banks as you wish, there are no associated costs or hidden fees - just smarter spending, and more rewards.
      //p
        a.btn.btn-raised(href='#', role='button') View legal »
    .form-group(style='margin-left: 7.5%;')
      .offset-md-3.col-md-7.pl-2
        a(href='/addBank')          
          img(src='images/banks/fifththirdbank.jpg', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/chase.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/bbt.jpg', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/bankofamerica.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/citi.jpg', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/keybank.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/pnc.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/regions.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/tdbank.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/usbank.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')
        a(href='/addBank')          
          img(src='images/banks/quicken.png', style='margin-top: 30px; display: inline-block; max-width: 30%; padding: 5%')